body {
    height: 100%;
    text-align: center;
    background-color: aqua;
}

h1 {
    color: crimson;
    margin: 0;
}

button {
    text-align: center;
    margin: 0;
}

#scorebox{
    border: black solid 2px;
    margin-left:auto;
    margin-right: auto;
    background-color: white;
   
}

#board {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    text-align: center;
    margin: 0;
}

#board div {
    width: 180px;
    height: 150px;
    background-color: blanchedalmond;
    margin: 0px;
    border: black solid 5px;
    vertical-align: middle;
    font-size: 150px;
}

#board div:hover {
    border: orange solid 5px;
}

#main-content {
    text-align: center;
}

.win {
    color: green;
}