body {
    height: 100%;
    text-align: center;
    background-image: url(../images/flooring.jpg);
    background-repeat: repeat;
}

h1 {
    color: rgb(235, 221, 221);
    margin: 0;
}

button {
    text-align: center;
    margin: 0;
}

#scorebox{
    border: black solid 2px;
    margin-left:auto;
    margin-right: auto;
    background-color: white;  
}

#turnbx{
    font-size: 25px;
}
#board {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    text-align: center;
    margin: 0;
}

@font-face{
    font-family: myFont;
    src: url(../images/AlexBrush-Regular.ttf);
}
#board div {
    display: grid;
    width: 130px;
    height: 130px;
    align-content: center;
    justify-content: center;
    background-color: blanchedalmond;
    border: black solid 5px;
    font-size: 90px;
    font-family: myFont;
}

#board div:hover {
    border: orange solid 5px;
}

#main-content {
    text-align: center;
}

.win {
    color: green;
}